<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSButtonCell</string>
			<key>label</key>		<string>Save and respring</string>
			<key>action</key>  		<string>respring</string>
			<key>alignment</key>    <string>2</string>
			<key>id</key> 			<string>RespringID</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 	  	<string>Killswitch</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSSwitchCell</string>
			<key>id</key> 			<string>EnableBooverToggle</string>
			<key>defaults</key>		<string>com.jontelang.boover</string>
			<key>key</key> 			<string>isEnabled</string>
			<key>label</key>		<string>Enable</string>
			<key>enabled</key> 		<true/>
			<key>default</key> 		<false/>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 	  	<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSLinkCell</string>
			<key>label</key>		<string>Position and size</string>
			<key>detail</key>		<string>MoveController</string>
		</dict>

		<dict>
			<key>cell</key>			<string>PSLinkCell</string>
			<key>label</key>		<string>Colors</string>
			<key>detail</key>		<string>ColorController</string>
		</dict>

		<!--dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>footerText</key>   <string>You must respring to save the settings.</string>
		</dict>
		<dict>
			<key>cell</key>			<string>PSLinkCell</string>
			<key>label</key>		<string>More..</string>
			<key>icon</key>			<string>JontelangPreferencesControllerInfo.png</string>
			<key>hasIcon</key>		<true/>
			<key>detail</key>		<string>JontelangPreferencesController_booverpreferences</string>
			<key>id</key> 			<string>com.jontelang.boover</string>
		</dict-->

	</array>
	<key>title</key>				<string>Boover settings</string>

</dict>
</plist>
